<div class="row">

    <!--colleft-->
    <div class="col-md-8 col-sm-12" style="margin: auto;float:none;">

        {% if boxes is  empty %}
            <div class="alert alert-danger">
                <strong>No box available.</strong>
            </div>
        {% else %}

            <div class="box-caption">
                <span>Box List</span>

                <div class="search-box" style="float: right;">
                    <input type="text" placeholder="search box..." onkeypress="return searchFunction(event)"/>
                    <button>Search</button>
                </div>
            </div>

            <div class="list-news-cate">
                <article class="news-cate-item">
                    {% for box in boxes %}
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                {{ boxImageLink(box) | raw }}
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-6">
                                <h3>{{ boxLink(box) | raw }}</h3>
                                <div class="meta-post">
                                    <span>{{ box.dateCreation }}</span>
                                </div>
                                {{  box.description |  maxLen(250) | raw }}
                                {% if box.workflowStatus=="sent" %}
                                    <div class="alert alert-success">
                                         <p><i class="fa fa-check fa-2x" aria-hidden="true"></i> Status : the box has been sent</p>
                                    </div>
                                {% elseif box.workflowStatus=="products_request" %}
                                    {% if workflow_can(box, 'marketing_approval') %} <div class="alert alert-danger">{% else %}<div class="alert alert-warning">{% endif %}
                                        <p><i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i> Status : the box is waiting for the products from provider</p>
                                    </div>
                                {% elseif box.workflowStatus=="products_validation" %}
                                        {% if workflow_can(box, 'manager_approval') %} <div class="alert alert-danger">{% else %}<div class="alert alert-warning">{% endif %}
                                        <p><i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i> Status : the box is waiting for the products validation</p>
                                    </div>
                                {% elseif box.workflowStatus=="box_creation" %}
                                    {% if workflow_can(box, 'product_request') %}<div class="alert alert-danger">{% else %}<div class="alert alert-info">{% endif %}
                                        <p><i class="fa fa-window-close-o fa-2x" aria-hidden="true"></i> Status : the box has been created but is empty</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </article>
            </div>

            <div class="paging">
                {% if currentPage>1 %}{{ boxesLink( "Prev",null, currentPage-1) | raw  }}{% endif %}
                {% for i in 0..countPagination-1 %}
                    {% if currentPage==i+1 %}
                        {% set paginationClass='current' %}
                    {% else %}
                        {% set paginationClass='' %}
                    {% endif %}
                    {{ boxesLink(i+1,paginationClass,i+1) | raw  }}
                {% endfor %}
                {% if currentPage<countPagination %}{{ boxesLink( "Next",null, currentPage+1) | raw  }}{% endif %}
            </div>


        {% endif %}

    </div>

</div>