<!--header-->
<header class="header">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <a href="{{ path('index') }}" class="logo">
                <img alt="Logo" src="{{ asset('images/logo.png') }}" />
            </a>
        </div>
    </div>
</header>
<!--menu-->
<nav class="menu font-heading">
    <ul>
        <li {% if active == 'index' %}class="current"{% endif %}><a href="{{ path('index') }}">Home</a></li>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}


        {% if is_granted('ROLE_MARKETING')%}
            <!-- TODO -->
        {% elseif is_granted('ROLE_MANAGER') %}
            <!-- TODO -->
        {% elseif is_granted('ROLE_MEMBER') %}
            <li {% if active == 'box_subscribe' %}class="current"{% endif %}><a href="{{ path('box_subscribe') }}">Box Subscription</a></li>
        {% endif %}


        <li style="float: right;">
            <a href="{{ path('security_logout') }}">Logout</a>
        </li>

        {% endif %}
    </ul>
</nav>
