<!--header-->
<header class="header">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <a href="{{ path('index') }}" class="logo">
                <img alt="Logo" src="{{ asset('images/logo.png') }}" />
            </a>
        </div>
    </div>
</header>
<!--menu-->
<nav class="menu font-heading">

    <ul>
        {% if is_granted('IS_AUTHENTICATED_FULLY') and (is_granted('ROLE_MARKETING') or is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN')) %}
            {{ include('components/menuadmin.html.twig') }}
        {% else %}
            {{ include('components/menuuser.html.twig') }}
        {% endif %}
    </ul>

    <div class="userstatus">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            Welcome {{ app.user.firstname }} {{ app.user.lastname }} <b>{{ app.user.getRoles | join('+') }}</b>
        {% endif %}
    </div>

</nav>
